<html>
<head>
	<title>海星课堂后端管理系统</title>
	<script type="text/javascript" src="<?php echo base_url('styles/js/');?>jquery.min.js"></script>
	<style type="text/css">
		body{
			position: relative;
		}
		.login{
			position: absolute;
			height: 300px;
			width: 500px;
			margin: auto;
			padding: 0;
			left: 0;
			right: 0;
			top:20%;
			background-color: #e2e2e2;
		}
		td{
			width: 500px;
			height: 75px;
			text-align: center;		}
		#title{
			background-color: #bcbcbc;
		}
	</style>
</head>
<body>
	<div class="login">
			<table cellspacing="0">
				<tr>
					<td id="title">
						海星课堂后端管理系统
					</td>
				</tr>
				<tr>
					<td>
						<span>账号：</span>
						<input id="u_tel" type="text" name="u_tel">
					</td>
				</tr>
				<tr>
					<td>
						<span>密码：</span>
						<input id="u_pwd" type="password" name="u_pwd">
					</td>
				</tr>
				<tr>
					<td>
						<input type="button" value="登录" onclick="Login.Enter()">
					</td>
				</tr>
			</table>
	</div>
	<script type="text/javascript">

		var Login =
		{
			Enter:function()
			{
				$.ajax(
	                {
	                    type:"POST",
	                    url:"<?php echo site_url('User/login')?>",
	                    data:{"u_tel":$("#u_tel").val(),"u_pwd":$("#u_pwd").val()},
	                    dataType:"JSON",
	                    async:false,
	                    success:function(data){
	                    	if(data.type == 400)
	                    	{
	                    		sessionStorage.setItem('token',data.data.token);
	                   
	                    		window.location.href="<?php echo site_url('Admin/home')?>";
	                    	}else
	                    	{
	                    		alert(data.message);
	                    	}
	                       
	                    },
	                    error:function(x,t,e)
	                    {
	                    	alert(x);
	                    	alert(t);
	                    	alert(e);
	                    }
	                });
			}
		};
	</script>
</body>
</html>