<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="<?php echo base_url('styles/js/');?>jquery.min.js"></script>
	<style type="text/css">
		body{
		}
		*{  
            margin:0;  
            padding:0;  
        }  
		table{
			margin-top: 20px;
			width: 100%;
			font-size: 12px;
			text-align: left;
			color:#8d8d8d;
			font-family: "微软雅黑";
		}
		thead{
			background-color: #eeeeee;
		}
		th{
			border:1px solid #c4c4c4;
			height: 30px;
		}
		td{
			border: 1px solid #c4c4c4;
			height: 110px;
		}
		img{
			width: 100px;
			height: 100px;
		}
		ul{
			width: 100%;
			list-style: none;
		}
		li{
			text-align: center;
			float: left; 
			border: 1px solid #dfdfdf; 
		}
		li a{
			text-decoration:none;
			color:#123;
			display: block; 	
		}
		li:hover{ 
			background-color:#979797;
			color:#fff;
		}
		#table_div{
			width: 1300px;
			height: auto;
			margin: 0 auto;
		}
		#page{
			height: 40px;
			margin-top:10px;
		}
	</style>
	
	</script>
</head>

<body>
	<div id="table_div">
		<table id="table" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>管理员ID</th>
					<th>姓名</th>
					<th>性别</th>
					<th>联系方式</th>
					<th>权限</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="tbody">
			</tbody>
		</table>
		<div id="page">
			<div>
				<ul>
					<li style="width: 60px;"><a href="#">上一页</a></li>
					<li style="width: 25px;"><a href="#">1</a></li>
					<li style="width: 25px;"><a href="#">2</a></li>
					<li style="width: 25px;"><a href="#">3</a></li>
					<li style="width: 60px;"><a href="#">下一页</a></li>
				</ul>
				<span style="color: #8d8d8d;">&nbsp;&nbsp;共有8条,每页显示：20条</span>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">

		/*var Table =
		{
			button:[],
			tableinfo:[],
			Init:function()
			{
				for (var i = 0; i < 5; i++) {				
				}
			},
			Get:function()
			{
				$.ajax(
                {
                    type:"POST",
                    url:"",
                    dataType:"JSON",
                    async:false,
                    beforeSend: function(request) {
            			request.setRequestHeader("Utoken",sessionStorage.getItem('token'));
        			},
                    success:function(data){
                                   
                       if(data.type == 400)
                       {

                       		Table.tableinfo = eval("("+JSON.stringify(data.data)+")");
                      
	                        for (var i = 0; i < Table.tableinfo.length; i++)
	                        {

	                        	var tr = document.createElement("tr");

	                        	var td1 = document.createElement("td");                    
	                        	var td2 = document.createElement("td");
	                        	var td3 = document.createElement("td");
	                        	var td4 = document.createElement("td");
	                        	var td5 = document.createElement("td");
	                        	var td6 = document.createElement("td");
	            
	                        	
	                        	td1.innerHTML = Table.tableinfo[i].u_id;
	                        	td2.innerHTML = Table.tableinfo[i].u_name;    
	                        	td3.innerHTML = Table.tableinfo[i].c_tel;  
	                        	td4.innerHTML = Table.tableinfo[i].c_major;  
	                        	td5.innerHTML = "审核课程"+Table.tableinfo[i].p_ccheck+
	                        					"认证用户"+Table.tableinfo[i].p_ucheck+
	                        					"添加管理"+Table.tableinfo[i].p_add+
	                        					"推送消息"+Table.tableinfo[i].p_push;  	                    	 	                	   
	                        	//操作
	                        	var a_del = document.createElement("a");
	                        	a_del.setAttribute("href","javascript:void(0)");//相当于让href属性失效！  
	        					a_del.setAttribute("onclick","alert('删除')");
	                        	a_del.innerHTML = '删除';

	                        	var a_alter = document.createElement("a");
	                        	a_alter.setAttribute("href","javascript:void(0)");
	                        	a_alter.setAttribute("onclick","alert('修改')");
	                        	a_alter.innerHTML = '修改权限';  
	                        
	                        	var span = document.createElement("span");
	                        	span.innerHTML = ' | ';
	                        	td8.appendChild(a_alter);
	                        	td8.appendChild(span);
								td8.appendChild(a_del);                        	

	                        	tr.appendChild(td1);
	                        	tr.appendChild(td2);
	                        	tr.appendChild(td3);
	                        	tr.appendChild(td4);
	                        	tr.appendChild(td5);
	                        	tr.appendChild(td6);
	                        	

	                        	document.getElementById("tbody").appendChild(tr);
	                        }
                        	
                        }else
                        {
                        	alert(data.message);
                        }        
                      
                    },
                    error:function(data)
                    {
                    	alert('1');
                    }
                });
			},
			Admin_del:function(c_id)
			{
				$.ajax(
	                {
	                    type:"POST",
	                    url:"",
	                    data:{},
	                    dataType:"JSON",
	                    async:false,
	                    beforeSend: function(request) {
            			request.setRequestHeader("Utoken",sessionStorage.getItem('token'));
        				},
	                    success:function(data)
	                    {
	                    }
	                });
			}
		};

		Table.Get();*/
	</script>
</body>
</html>