<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			body{
				background-color: #515151;
			}
			*{
				margin: 0;
				padding: 0;
			}
			ul{
				width: 100%;
				text-align: center;
				list-style: none;
			}
			li{
				text-align: left;
			}
			a{
				text-decoration:none;
				color:#fff;
				display: block;
				text-indent:20px; 
				height:40px; 
				line-height:30px; 
				width:100%; 
				margin-bottom:1px;
			}
			a:hover{ 
				background-color:#979797;
				color:#fff
			}
		</style>
	</head>
	<body>
		<ul>
			<li><a href="#">课程审核</a></li>
			<li><a href="#">身份认证</a></li>
			<li><a href="#">系统推送</a></li>
			<li><a href="#">添加管理员</a></li>
			<li><a href="#">个人信息</a></li>
		</ul>
	</body>
</html>