<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="<?php echo base_url('styles/js/');?>jquery.min.js"></script>
	<style type="text/css">
		body{
		}
		table{
			width: 1300px;
			margin: 0 auto;
			text-align: center;
		}
		th{
			border:1px solid #c4c4c4;
			height: 30px;
		}
		td{
			border: 1px solid #c4c4c4;
			height: 110px;
		}
		img{
			width: 100px;
			height: 100px;
		}
		#table_div{
			width: 1300px;
			height: 585px;
			border: 1px solid #c4c4c4;
		}
	</style>
	<script type="text/javascript">
		var Table =
		{

			Init:function()
			{
				for (var i = 0; i < 5; i++) {
					
					
				}
			},
			Get:function()
			{
				$.ajax(
                {
                    type:"POST",
                    url:"<?php echo site_url('Admin/cou_list')?>",
                    data:{"token":"<?php echo $this->session->token?>"},
                    dataType:"JSON",
                    async:false,
                    success:function(data){
                        var dataObj = eval("("+JSON.stringify(data.data)+")");

                        for (var i = 0; i < dataObj.length; i++)
                        {
                        	var tableItem=$("<tr></tr>");
                        	$("#tbody").append(tableItem);
                        	tableItem.append("<td><input type=\"checkbox\" checked=\"checked\"></td>");
                        	tableItem.append("<td>"+dataObj[i].c_id+"</td>");
                        	tableItem.append("<td><img src='"+dataObj[i].c_imgpath+"'></td>");
                        	tableItem.append("<td>"+dataObj[i].c_name+"</td>");
                        	tableItem.append("<td>"+dataObj[i].c_major+"</td>");
                        	tableItem.append("<td>"+dataObj[i].c_detail+"</td>");
                        	tableItem.append("<td>"+dataObj[i].c_time+"</td>");
                        	tableItem.append("<td>"+dataObj[i].c_place+"</td>");
                        	tableItem.append("<td>"+dataObj[i].c_price+"</td>");
                        	tableItem.append("<td>"+dataObj[i].c_releaseid+"</td>");
                        	tableItem.append("<td><input type='button' value='审核' onclick='"+Table.Examine(dataObj[i].c_id)+"'></td>");
                        }
                    },
                    error:function(data)
                    {
                    	alert('1');
                    }
                });
			},
			Examine:function(c_id)
			{
				$.ajax(
                {
                    type:"POST",
                    url:"<?php echo site_url('Admin/cou_list')?>",
                    data:{"token":"<?php echo $this->session->token?>","c_id":c_id},
                    dataType:"JSON",
                    async:false,
                    success:function(data)
                    {
                    	alert('审核通过');
                    }
                });
			}
		}
	</script>
</head>
<body>
	<input type="button" name="button" value="hah" onclick= "Table.Get()">
	<div id="table_div">
		<table id="table" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th><input type="checkbox" name="" checked="checked"></th>
					<th>课程ID</th>
					<th>课程封面</th>
					<th>课程名称</th>
					<th>课程专业</th>
					<th>课程介绍</th>
					<th>时间</th>
					<th>地点</th>
					<th>价格</th>	
					<th>发布者ID</th>
					<th>审核</th>
				</tr>
			</thead>

			<tbody id="tbody">
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
		
		
		Table.Get();
		Table.Init();
	</script>
</body>
</html>