<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="<?php echo base_url('styles/js/');?>jquery.min.js"></script>
	<style type="text/css">
		*{  
            margin:0;  
            padding:0;  
        }  
		table{
			margin-top: 20px;
			width: 100%;
			font-size: 12px;
			text-align: left;
			color:#8d8d8d;
			font-family: "微软雅黑";
		}
		thead{
			background-color: #eeeeee;
		}
		th{
			border:1px solid #c4c4c4;
			height: 30px;
		}
		td{
			border: 1px solid #c4c4c4;
			height: 110px;
		}
		img{
			width: 100px;
			height: 100px;
		}
		ul{
			width: 100%;
			list-style: none;
		}
		li{
			text-align: center;
			float: left; 
			border: 1px solid #dfdfdf; 
		}
		li a{
			text-decoration:none;
			color:#123;
			display: block; 	
		}
		li:hover{ 
			background-color:#979797;
			color:#fff;
		}
		#table_div{
			width: 1300px;
			height: auto;
			margin: 0 auto;
		}
		#page{
			height: 40px;
			margin-top:10px;
		}
	</style>
	
	</script>
</head>

<body>
	<div id="table_div">
		<table id="table" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>用户ID</th>
					<th>认证图片</th>
					<th>姓名</th>
					<th>性别</th>
					<th>学校专业</th>
					<th>联系方式</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="tbody">
			</tbody>
		</table>
		<div id="page">
			<div>
				<ul>
					<li style="width: 60px;"><a href="#">上一页</a></li>
					<li style="width: 25px;"><a href="#">1</a></li>
					<li style="width: 25px;"><a href="#">2</a></li>
					<li style="width: 25px;"><a href="#">3</a></li>
					<li style="width: 60px;"><a href="#">下一页</a></li>
				</ul>
				<span style="color: #8d8d8d;">&nbsp;&nbsp;共有8条,每页显示：20条</span>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">

		var Table =
		{
			button:[],
			tableinfo:[],
			Init:function()
			{
				for (var i = 0; i < 5; i++) {				
				}
			},
			Get:function()
			{
				$.ajax(
                {
                    type:"POST",
                    url:"<?php echo site_url('Admin/users_list')?>",
                    dataType:"JSON",
                    async:false,
                    beforeSend: function(request) {
            			request.setRequestHeader("Utoken",sessionStorage.getItem('token'));
        			},
                    success:function(data){
                                   
                       if(data.type == 400)
                       {

                       		Table.tableinfo = eval("("+JSON.stringify(data.data)+")");
                      
	                        for (var i = 0; i < Table.tableinfo.length; i++)
	                        {

	                        	var tr = document.createElement("tr");

	                        	var td1 = document.createElement("td");                    
	                        	var td2 = document.createElement("td");
	                        	var td3 = document.createElement("td");
	                        	var td4 = document.createElement("td");
	                        	var td5 = document.createElement("td");
	                        	var td6 = document.createElement("td");
	                        	var td7 = document.createElement("td");                
	                        	
	                        	td1.innerHTML = Table.tableinfo[i].u_id;  
	                        	td3.innerHTML = Table.tableinfo[i].u_name;  
	                        	td4.innerHTML = Table.tableinfo[i].u_sex;  
	                        	td5.innerHTML = "手机号："+Table.tableinfo[i].u_tel+
	                        					"<br>QQ："+Table.tableinfo[i].u_qq+
	                        					"<br>邮箱："+Table.tableinfo[i].u_email; 

	                        	td6.innerHTML = "学校："+Table.tableinfo[i].u_sch+
	                        					"<br>专业："+Table.tableinfo[i].u_major;
	                       
	                        	
	                        	var img = document.createElement("img");
	                        	
	                        	if(Table.tableinfo[i].u_authenticate != null)
	                        	{
	                        		img.setAttribute("src",Table.tableinfo[i].u_authenticate);
	                        		td2.appendChild(img);
	                        	}
	                        	                	
	                        	//通过审核
	                        	var a_y = document.createElement("a");
	                        	a_y.setAttribute("href","javascript:void(0)");//相当于让href属性失效！  
	        					a_y.setAttribute("onclick","Table.Examine("+Table.tableinfo[i].u_id+")");
	                        	a_y.innerHTML = '通过';

	                        	var a_n = document.createElement("a");
	                        	a_n.setAttribute("href","javascript:void(0)");
	                        	a_n.setAttribute("onclick","alert('拒绝')");
	                        	a_n.innerHTML = '拒绝';  
	                        
	                        	var span = document.createElement("span");
	                        	span.innerHTML = ' | ';
	                        	td7.appendChild(a_y);
	                        	td7.appendChild(span);
								td7.appendChild(a_n);	                        	

	                        	tr.appendChild(td1);
	                        	tr.appendChild(td2);
	                        	tr.appendChild(td3);
	                        	tr.appendChild(td4);
	                        	tr.appendChild(td5);
	                        	tr.appendChild(td6);
	                        	tr.appendChild(td7);
	                        	

	                        	document.getElementById("tbody").appendChild(tr);
	                        }
                        	
                        }else
                        {
                        	alert(data.message);
                        }        
                      
                    },
                    error:function(data)
                    {
                    	alert('1');
                    }
                });
			},
			Examine:function(c_id)
			{
				alert(c_id);
				/*$.ajax(
	                {
	                    type:"POST",
	                    url:"<?php echo site_url('Admin/cou_examine')?>",
	                    data:{"token":sessionStorage.getItem('token'),"c_id":c_id},
	                    dataType:"JSON",
	                    async:false,
	                    success:function(data)
	                    {
	                    	if(data.type == 400)
	                    	{
	                    		alert('审核通过');
	                    		//刷新当前页面
	                    		location.reload();
	                    	}else{
	                    		alert(data.message);
	                    	}
	                    	
	                    }
	                });*/
			}
		};

		Table.Get();
	</script>
</body>
</html>